<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <title>Systekna :: 02 :: [Preview]</title>
</head>
<body>
    <main>
        <section class="container-fluid">
            <header class="container-fluid">
                <nav class="navbar">
                    <a href="#" class="navbar-brand">LOGO</a>
                    <ul class="navlist">
                        <li class="navlink"><a href="#">INICIO</a></li>
                        <li class="navlink"><a href="#">SERVIÇOS</a></li>
                        <li class="navlink"><a href="#">SOBRE</a></li>
                        <li class="navlink"><a href="#">CONTATO</a></li>
                    </ul>
                </nav>
            </header>   
            <section class="container">
                <div class="row">
                    <div class="col-3">
                        <h2>Titie</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus provident iste 
                            doloremque pariatur unde repellendus quod vitae, eos natus impedit culpa corrupti nobis illum
                             eaque, fugiat laudantium dolore fuga maiores?</p>
                    </div>
                    <div class="col-3">
                        <h2>Titie</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus provident iste 
                            doloremque pariatur unde repellendus quod vitae, eos natus impedit culpa corrupti nobis illum
                             eaque, fugiat laudantium dolore fuga maiores?</p>
                    </div>
                    <div class="col-3">
                        <h2>Titie</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus provident iste 
                            doloremque pariatur unde repellendus quod vitae, eos natus impedit culpa corrupti nobis illum
                             eaque, fugiat laudantium dolore fuga maiores?</p>
                    </div>
                    <div class="col-3">
                        <h2>Titie</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus provident iste 
                            doloremque pariatur unde repellendus quod vitae, eos natus impedit culpa corrupti nobis illum
                             eaque, fugiat laudantium dolore fuga maiores?</p>
                    </div>
                    
                </div>
            </section>
            <footer class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <p>copyright &copy;
                            <a href="#">systekna.com</a> - 2023
                        </p>
                    </div>
                </div>
            </footer> 
        </section>
    </main>
</body>
</html>