@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700&family=Shrikhand&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

body {
    position: absolute;
    width: 100%;
}

.container-fluid { 
    display: flex; 
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
}

.container { 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    flex-basis: auto;   
    flex: 1;
    margin: 0 50px;
}

.align-content-center { align-self: center; }

.align-content-start { align-self: flex-start; }

.align-content-end { align-self: flex-end; }

.bg-image {
    background: url(fundo.jpg) no-repeat; 
    background-position: center;
    background-size: cover;
}

.bg-dark {
    background-color: #010124;
    color: white;
}

.bg-transparent {
    background-color: transparent;
    color: white;
}

.bg-gross {
    border: 1px solid white;
    border-radius: 23px;
    background: transparent;
    backdrop-filter: blur(15px);  
}

.text-light { color: white; }
.text-light a { color: white; }

.btn-primary {
    background-color: white;
    color: #010124;
    border-radius: 25px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    padding: 8px 30px;
}

.brand {
    justify-self: center;
    align-self: center;
    padding: 0 20px;
    font-size: 2em;
    color: white;
}

.nav { 
    justify-self: center;
    align-self: center;
}

.nav ul {
    display: flex;
    justify-content: space-between;  
    gap: 20px;
}

.nav ul li { list-style-type: none; }

.nav a {
    font-size: 1.1em;
    border-bottom: 2px solid transparent;   
    color: white;
    transition: all .55s ease;
}

.nav a:hover { border-bottom: 2px solid  white; }

.card {
    min-width: 100px;
    max-width: 800px;
    margin: 9px 0;
    padding: 30px;
    border-radius: 14px;
}

.card h2 {
    font-size: 3em;
    margin-bottom: 0.2em;
}

.card p { margin-bottom: 1.8em; }

.card .btn {
    font-size: 1.6em;
    padding: 2px 20px;
    margin: 80px 0;
    color: #010124;
}

.card a { color: white; }
.card ul li { list-style-type: none; }
.social { margin: 2em 0; }

.social ul {
    display: flex;
    justify-content: space-between;  
    gap: 20px;
}

.social a { 
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center; 
    width: 40px;
    height: 40px;
    font-size: 24px;
    transition: .3s;
}

.social a:hover{ transform: scale(1.2); }

.footer {
    display: flex;
    justify-items: center;
    justify-content: center;
    padding: 20px;
}